body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    margin: 20px;
    background-image: url(https://img.freepik.com/free-vector/colorful-summer-background_23-2148561591.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: auto;
    background: bisque;
    padding: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
h1{
    color: rgb(97, 145, 164);
}

button {
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: pink;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: palevioletred;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}